<footer>
  <div class="footer-grid">
    <div class="footer-brand">
      <div class="logo">
        <img src="/images/logo.png" alt="kalikoer" class="footer-logo-img" />
      </div>
      <p>kalikoer ist ein junger Chor im Allgäu (Raum Kempten, Immenstadt, Sonthofen). Geprobt wird dienstags in Immenstadt.</p>
    </div>
    <div class="footer-col">
      <h4>Navigation</h4>
      <ul>
        <li><a href="index.html#home">Home</a></li>
        <li><a href="index.html#das-sind-wir">Das sind wir</a></li>
        <li><a href="index.html#probe">Probe</a></li>
        <li><a href="index.html#termine">Termine</a></li>
        <li><a href="archiv.html">Archiv</a></li>
        <li><a href="index.html#kontakt">Kontakt</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>Kontakt</h4>
      <address>
        <a href="mailto:info@kalikoer.com">info@kalikoer.com</a><br/>
        <a href="tel:+4915128287264">+49 (0) 151 28287264</a><br/><br/>
        Kalvarienbergstr. 27<br/>
        87509 Immenstadt im Allgäu<br/><br/>
        <a href="https://www.instagram.com/kalikoer?igsh=dDB3MmRvb2IwZDB3&utm_source=qr" target="_blank" rel="noopener">Instagram: Kalikör</a>
      </address>
    </div>
  </div>
  <div class="footer-bottom">
    <span>© 2026 Kalikoer</span>
    <div class="footer-bottom-links">
      <a href="index.html">Home</a>
      <a href="#">Datenschutz</a>
      <a href="impressum.html">Impressum</a>
    </div>
  </div>
</footer>
